mixin menuMixin(className, items)
    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item`)
                    a(href=`${item.link}` class=`${className}__link`)= item.title

mixin socialLinks(items, modifier, isRounded)
    div(class=`socials ${modifier}`)
        ul.socials__list
            each item in items
                li.socials__item
                    a.socials__link(href=`${item.link}` target="_blank")
                        svg(class=`social-icon social-icon__${item.title}${isRounded?' social-icon__rounded':''}`)
                            use(xlink:href=`assets/images/sprite.svg#${item.title}${isRounded?'_round':''}`)

mixin skillsBlock(title, skills, className)
    div(class=`${className}__title`)= title
    div(class=`${className}__list`)
        each skill in skills
            div(class=`${className}__item`)
                div(class=`${className}__name`)= skill.name
                svg.circles(viewBox="0 0 110 110")
                    circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                    circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)" class=`circle__second circle-${skill.percent}`)

mixin contactsList(contacts, className)
    ul(class=`${className}`)
        each contact in contacts
            li(class=`${className}__item`)
                svg(class=`icon-contact icon-contact__${contact.type} icon-contact__margin`)
                    use(xlink:href=`assets/images/sprite.svg#${contact.type}`)
                if contact.type == 'envelope'
                    a(href=`mailto:${contact.value}`)= contact.value
                else
                    =contact.value

mixin review(text, image, name)
    .reviews__review
        .reviews__text= text
        .reviews__author
            .reviews__photo
                img(src=`${image.src}` alt=`${image.alt}`)
            .reviews__person
                .reviews__name= name.name
                .reviews__occupation= name.occupation

mixin backgroundImage(src, alt)
    .background
        img.background__image(src=`${src}` alt=`${alt}`)

mixin svgBackground(svg)
    .bg-title.content__bg_title
        svg.bg-title__caption
            use(xlink:href=`${svg}`)