mixin menuMixin(className, items)
    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each item in items
                li(class=`${className}__item`)
                    a(href=`${item.link}` class=`${className}__link`)= item.title

mixin socialLinks(items, modifier, isRounded)
    div(class=`socials ${modifier}`)
        ul.socials__list
            each item in items
                li.socials__item
                    a.socials__link(href=`${item.link}` target="_blank")
                        svg(class=`social-icon social-icon__${item.title}${isRounded?' social-icon__rounded':''}`)
                            use(xlink:href=`assets/images/sprite.svg#${item.title}${isRounded?'_round':''}`)

mixin skillsBlock(title, skills, className)
    div(class=`${className}`)
        div(class=`${className}__title`)= title
        div(class=`${className}__skills`)
            each skill in skills
                div= skill.name
                div= skill.percent

mixin contactsList(contacts, className)
    ul(class=`${className}`)
        each contact in contacts
            li(class=`${className}__item`)
                svg(class=`icon-contact icon-contact__${contact.type} icon-contact__margin`)
                    use(xlink:href=`assets/images/sprite.svg#${contact.type}`)
                if contact.type == 'envelope'
                    a(href=`mailto:${contact.value}`)= contact.value
                else
                    =contact.value

mixin review(text, image, name)
    .reviews__review
        .reviews__text= text
        .reviews__author.container.container_left_center
            .reviews__photo
                img(src=`${image.src}` alt=`${image.alt}`)
            .reviews__person
                .reviews__name= name.name
                .reviews__occupation= name.occupation

mixin contactsForm
    .contacts-form
        .contacts-form__title.content__title.content__title--small.title.title__title--lines Связаться со мной
        .contacts-form__fields
            input.contacts-form__input.contacts-form__input--name(placeholder="Имя")
            input.contacts-form__input.contacts-form__input--email(placeholder="Email")
            textarea.contacts-form__textarea(placeholder="Ваше сообщение")
        .contacts-form__buttons
            button.contacts-form__button.contacts-form__button--submit Отправить
            button.contacts-form__button.contacts-form__button--clear Очистить

mixin backgroundImage(src, alt)
    .background
        img.background__image(src=`${src}` alt=`${alt}`)